<div class="fieldset slide-in-right">
  <label class="fieldset__checkbox" for="check">
    <input
      class="fieldset__checkbox__input"
      type="checkbox"
      name="check"
      id="check"
      [(ngModel)]="testCheck"
      (change)="print()"
    >
    <span></span>
  </label>
  <span class="fieldset__input">
    <input
      type="text"
      name="text"
      id="text"
      (focus)="this.showUnderline = !this.showUnderline"
      (blur)="this.showUnderline = !this.showUnderline"
    >
    <span class="fieldset__input__underline grow-right" *ngIf="this.showUnderline"></span>
  </span>
</div>
