.fieldset {
  --underline-height: 3px;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  border: none;

  &__checkbox {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 10px;

    &__input {
      display: none;

      &:checked + span:after {
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        border-radius: 1px;
        background: var(--color-brand);
        animation: fade-in .4s;
      }
    }

    span {
      height: 30px;
      width: 30px;
      border: 3px solid var(--color-primary);
      border-radius: 4px;
      display: inline-block;
      position: relative;
    }
  }

  &__input {
    flex: 1;
    position: relative;
    padding-bottom: var(--underline-height);
    background: white;

    input {
      padding: 10px;
      width: 100%;
      border: none;
      font-size: 20px;
      font-family: var(--font-family);

      &:focus {
        outline: none;
      }
    }

    &__underline {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: var(--underline-height);
      background: var(--color-brand);
    }
  }
}
