.fieldset {
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  background: white;
  transition: .2s;

  &--checked {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: var(--color-brand);
      animation: grow-right 0.2s ease-in both;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 10px;

    &__input {
      display: none;

      &:checked span:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        background: var(--color-brand);
        animation: scale-in .2s;
      }
    }

    &__styled {
      height: 30px;
      width: 30px;
      border: 2px solid var(--color-subtle);
      border-radius: 100px;
      display: inline-flex;
      position: relative;
      margin-left: 10px;
      transition: .2s;

      &--checked {
        border-color: white;
      }

      &__checkmark {
        margin: auto;
        height: 18px;
        width: 18px;
      }
    }
  }

  &__input {
    --underline-height: 3px;

    flex: 1;
    position: relative;
    padding-bottom: var(--underline-height);

    input {
      position: relative;
      padding: 10px;
      width: 100%;
      border: none;
      font-size: 20px;
      font-family: var(--font-family);

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--text-color-tertiary);
        font-weight: var(--font-weight-light);
        font-style: italic;
      }

      &--active {
        // input underline
        &:after {
          position: absolute;
          right: 0;
          bottom: -(var(--underline-height));
          left: 0;
          height: var(--underline-height);
          background: var(--color-brand);
        }
      }
    }
  }
}
